* {
    padding: 0;
    margin: 0;
    font-family: "Karla", sans-serif;
    color: #000000;
    box-sizing: border-box;
}
.container {
    position: relative;
}
.overlay{
    position: absolute;
    z-index: 0;
}

.mainQuiz{
    z-index: -1;
    position: absolute;

}